#select_menu
{
top: 10px;
position: relative;
width: 600px;
z-index: 99;
display:block;
overflow:auto;
}

#line{
position: relative;
top: 20px;
width: 800px;
}

#tip_info {

position: relative;
width: 600px;
text-align:center;
margin-left:auto;
margin-right:auto;
top:10px;
}
#choose_time {
margin-top:10px;
width: 600px;
display:block;
position: relative;
}
ul,ul li {
 list-style-type:none;
}